<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../Content/foundation.css" />
<script src="../../Scripts/vendor/modernizr.js"></script>
</head>
    <!-- Navigation -->

<nav class="top-bar docs-bar" data-topbar >
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">

      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name">
            <h1><a href="#">Inventory</a></h1>
        </li>
      </ul>
      <ul class="right">
        <li class="has-dropdown"><a href="#">Menu</a>

      <ul class="dropdown">
        <li><a href="/indicator">See All Indicators</a></li>
        <li><a href="/indicator/viewPR">See All PRs</a></li>
        <li><a href="/indicator/editInventory">Edit Inventory</a></li>
      </ul>
    </section>
  </nav>
    <div class="row">
      <div class="small-offset-8">
    <img src="http://outonbayst.org/wp-content/uploads/2012/07/Mount-Sinai-Logo.png" alt="Mount Sinai" width="400" height="700">
    </div>
    </div>
   
  <br />
  <!-- End Top Bar -->
 
  <div class="rowcollpase" id="wrapper" >
    <div class="large-12 columns">
 
  
         <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

 
    <!-- Footer -->
 
      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">
 
              <div class="large-6 columns">
                  <p>© 2014</p>
              </div>
 
              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
 
    <script src="../../Scripts/jquery-1.11.0.min.js"></script>
    <script src="../../Scripts/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
  </body>
</html>
  <a class="exit-off-canvas"></a>
<!-- End Footer -->