<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../Content/foundation.css" />
<script src="../../Scripts/vendor/modernizr.js"></script>
<title>@ViewBag.Title</title>
</head>
    <!-- Navigation -->

<div class="show-for-medium-up">
<nav class="top-bar docs-bar" data-topbar >
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">

      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name">
            <h1><a href="#">Inventory</a></h1>
        </li>
      </ul>
      <ul class="right">
        <li class="has-dropdown"><a href="#">Menu</a>
      <ul class="dropdown">
        <li><a href="/indicator">See All Indicators</a></li>
        <li><a href="/indicator/viewPR">See All PRs</a></li>
        <li><a href="/indicator/editInventory">Edit Inventory</a></li>
      </ul>
    </section>
</nav>
</div>

<div class="show-for-small-only">
<nav class="top-bar docs-bar" data-topbar >
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">

      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name">
            <h1><a href="/indicator">Search Indicators</a></h1>
        </li>
      </ul>
    </section>
</nav>
</div>

    <div class="row">
      <div style="text-align:center">
    <img src="http://outonbayst.org/wp-content/uploads/2012/07/Mount-Sinai-Logo.png" alt="Mount Sinai" width="400" height="700">
    </div>
    </div>
   
  <br />
  <!-- End Top Bar -->
 
  <div class="rowcollpase" id="wrapper" >
    <div class="large-12 columns">
 
  
         <div id="body">
            @RenderSection("scripts", required: false)
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

 
    <!-- Footer -->

      <footer class="row">
    
        <p><small>Portal data from the Canadian Institute for Health Information (CIHI) has been used to generate data within this report with acknowledgement to CIHI, the Ministry of Health and Long-Term Care (MOHLTC) and Stats Canada (as applicable). Views are not those of the acknowledged sources. Facility identifiable data other than Mount Sinai Hospital (MSH) is not to be published without the consent of that organization (except where reported at an aggregate level). As this is not a database supported by MSH, please demonstrate caution with use and interpretation of the information. MSH is not responsible for any changes derived from the source data/canned reports. Data may be subject to change.
        </smal></p>

    </footer>

 
    <!-- End Footer -->
 
    </div>
  </div>
 
    <script src="../../Scripts/jquery-1.11.0.min.js"></script>
    <script src="../../Scripts/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
  </body>
</html>
  <a class="exit-off-canvas"></a>
<!-- End Footer -->