@model IndInv.Models.ViewModels.indexViewModel
@{
    ViewBag.Title = "Indicator Inventory";
}

<link rel="stylesheet" href="../../Content/Icons/foundation-icons.css" />

<body>

    <div class="row">
        <div class="large-12 columsn">
        @foreach (var analyst in Model.allAnalysts)
        {
            @Html.ActionLink("Edit Indicators for:" + analyst.Last_Name +", " + analyst.First_Name,"/editInventory", new { analystID = analyst.Analyst_ID});
        }
        </div>
    </div>

</body>

<div class="row">
</div>