<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Title </title>
    <link rel="stylesheet" href="../../Content/foundation.css" />
    <script src="../../Scripts/vendor/modernizr.js"></script>
  </head>
  <body>
    
  
  <div class="row">    
    <div class="large-12 columns">
        
    </div>
  </div>
                
    <script src="../../Scripts/jquery-1.11.0.min.js"></script>
    <script src="../../Scripts/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
  </body>
</html>
